@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2 ") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.page {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.navigation {
  display: flex;
  padding-right: 70px;
  padding-left: 70px;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 440px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.nav-link {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
}

.nav-item {

}

.nav-user {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 312px;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

}

.user-link {
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.user-item {

}

.user-number {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background: #7DB54F;

}

.user-button {
  text-transform: uppercase;
  background: #756157;
  border-radius: 4px;
}

/* main */

.main-index {
  flex-grow: 1;
}

.hero-index {
  background-image: url("../images/index/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6999c1;
  padding: 50px 0 77px;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.benefits {
  padding-top: 75px;
}

.sedona-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.sedona-title-benefits {
  margin: 0 auto 24px;
  padding: 0;
  width: 650px;
}

.sedona-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.sedona-text-benefits {
  margin: 0 auto 89px;
  padding: 0;
  width: 700px;
}

.benefits-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.benefits-item {
  width: 400px;
  box-sizing: border-box;
}


.benefits-theme {
  color: #ffffff;
  background-color: #82B3D3;
  display: flex;
  width: 1200px;
  justify-content: space-evenly;
}

.text-uppercase {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.text-light {
  color: #ffffff;
}

.text-uppercase-benefits {
  width: 190px;
  margin: 0 auto;
}

.text-lowercase-benefits {
  width: 240px;
  margin: 0 auto;
}

.text-lowercase {
  font-weight: 400;
  text-align: center;
}

.text-midcase {
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.comfort {
  padding-top: 64px;
}

.sedona-title-comfort {
  margin: 0 auto 1px;
  padding: 0;
  width: 510px;
}

.sedona-text-comfort {
  margin: 0 auto 20px;
  padding: 0;
  width: 500px;
}

.comfort-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.text-lowercase-comfort {
  margin: 0 auto;
  padding: 0;
  width: 230px;
}

.interest-link {
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  width: 376px;
}

.background-grey {
  background-color: #756157;
}

.interest {
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sedona-title-interest {
  margin: 0 auto 20px;
  padding: 0;
  width: 330px;
}

.sedona-text-interest {
  margin: 0 auto 63px;
  padding: 0;
  width: 620px;
}

/* catalog */

.catalog-main {
  flex-grow: 1;
}

.catalog-photowrapper {
  background-image: url("../images/catalog/form-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color:#756157;
  padding: 35px 70px 70px;
}

.catalog-title {
  font-weight: 700;
  color: #ffffff;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.form-hotel {
  display: flex;
}

.form-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-group {
  width: 151px;
  margin-right: 70px;
}

.form-group-cost {
  width: 290px;
  margin-left: 70px;
}

.range-block {
  width: 200px;
}

.form-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.form-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.form-from-before {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.catalog-button-group {
  margin-left: auto;
}

.button-catalog {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 20px;
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.button-card-current {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #7DB54F;
  border-radius: 4px;
  padding: 8px 18px;
}

.button-grey {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  padding: 8px 26px;
}

.result {

}

.hotel-title {
  text-align: start;
  width: 340px;
  margin: 0;
  padding: 0;
  margin-right: 192px;
}

.result-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.result-select {
  width: 300px;
}

.result-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin-left: auto;
}

.card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

}

.card-link {
  text-decoration: none;
}

.text-hotel-price {
  text-align: right;
}

.card-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 300px;
}

.pagination-link {
  text-decoration: none;
}

.pagination-button-current {
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
}

.pagination-button-dot {
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
}

/* footer */

.footer-subscribe-pic {
  background-color: #82B3D3;
  background-image: url(../images/footer/Subscribe.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 94px 104px;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 94px 104px;
}

.sedona-title-footer {
  margin: 0;
  padding: 0;
  width: 410px;
  margin-bottom: 20px;
}

.sedona-text-footer {
  margin: 0;
  padding: 0;
  width: 475px;
  margin-bottom: 54px;
}

.footer-input {
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
}

.button-footer {
  border-radius: 0px 4px 4px 0px;
  padding: 8px 50px;
}

.footer-social {
  display: flex;
  padding: 40px 70px;
  align-items: baseline;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin-right: 41px;
}

.footer-phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 340px;
  padding: 5px 194px;
}

.footer-logo {
  margin-left: auto;
}
